.DS_Store

venv

.idea/*
gatsby/.cache/*
gatsby/public/* 

*node_modules*

app/static/bower_components
app/static/dist*

*.pyc
*__pycache__*
*.log
*.log.*

package-lock.json

secrets/*

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

*in.tsv
*out.csv
*out_whatsapp*
