body {
  width: 100%;
  height: 100%;
  font-family: $grayscale-body-font-family;
  color: $grayscale-light;
  background-color: $grayscale-dark;
}

html {
  width: 100%;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 35px;
  text-transform: uppercase;
  font-family: $grayscale-headline-font-family;
  font-weight: 700;
  letter-spacing: 1px;
}

p{
  margin: 0 0 25px;
  font-size: 18px;
  line-height: 1.5;
}

.about-item, .about-list-title {
  margin: 0 0 25px;
  font-size: 18px;
  line-height: 1.5;
  text-align: left;  
}

li div.about-item {
  margin: 0 0 10px;
}

a {
  color: $grayscale-primary;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  &:hover,
  &:focus {
    text-decoration: none;
    color: darken($grayscale-primary,0.5);
  }
}

.light {
  font-weight: 400;
}
.middle {
  text-align: center;
}
.well {
  background-color: $grayscale-dark;
  border: 1px solid $grayscale-light;
  padding: 10px;
}
.progress-bar {
  background: $grayscale-progress;
}
.navbar-custom {
  margin-bottom: 0;
  border-bottom: 1px solid transparentize($grayscale-light, 0.7);
  text-transform: uppercase;
  font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
  background-color: $grayscale-dark;
  .navbar-brand {
    font-weight: 700;
    &:focus {
      outline: none;
    }
    .navbar-toggle {
      padding: 4px 6px;
      font-size: 16px;
      color: $grayscale-light;
      &:focus,
      &:active {
        outline: none;
      }
    }
  }
  a {
    color: $grayscale-light;
  }
  .nav {
    li {
      &.active {
        outline: none;
        background-color: transparentize($grayscale-light, 0.7);
      }
      a {
        -webkit-transition: background .3s ease-in-out;
        -moz-transition: background .3s ease-in-out;
        transition: background .3s ease-in-out;
        color: $grayscale-nav;
        &:hover,
        &:focus,
        &.active {
          outline: none;
          color: $grayscale-progress;
          background-color: darken($grayscale-light, 0.5);
        }
      }
    }
  }
}


.intro {background: $grayscale-dark url(../../images/prashant-bg.jpg) no-repeat scroll bottom center;}
.error {background: $grayscale-dark url(../../images/404-bg.jpg) no-repeat scroll bottom center;}

.opk {background: $grayscale-dark url(../../images/opk-bg.jpg) no-repeat scroll bottom center;}
.madhuri {background: $grayscale-dark url(../../images/madhuri-bg.jpg) no-repeat scroll bottom center;}
.puneet {background: $grayscale-dark url(../../images/puneet-bg.jpg) no-repeat scroll bottom center;}
.parisha {background: $grayscale-dark url(../../images/parisha-bg.jpg) no-repeat scroll bottom center;}
.sehul {background: $grayscale-dark url(../../images/sehul-bg.jpg) no-repeat scroll center center;}
.prashant {background: $grayscale-dark url(../../images/prashant-bg.jpg) no-repeat scroll bottom center;}


.intro, .error{
  display: table;
  width: 100%;
  height: auto;
  padding: 100px 0;
  text-align: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  .intro-body {
    display: table-cell;
    vertical-align: middle;

    .brand-heading {
      font-size: 40px;
      color: $grayscale-heading;
    }

    .intro-text {
      font-size: 18px;
      color: $grayscale-intro;
    }
  }
}

.btn-circle {
  width: 70px;
  height: 70px;
  margin-top: 15px;
  padding: 7px 16px;
  border: 2px solid $grayscale-light;
  border-radius: 35px;
  font-size: 40px;
  color: $grayscale-light;
  background: transparent;
  -webkit-transition: background .3s ease-in-out;
  -moz-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out;
  &:hover,
  &:focus {
    outline: none;
    color: $grayscale-light;
    background: transparentize($grayscale-light, 0.9);
  }
}

.content-section {
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.learn-section {
  width: 100%;
  padding: 50px 0;
  color: $grayscale-light;
  background: $grayscale-dark url(../../images/learn-bg.jpg) 50% 0 no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.education-section {
  width: 100%;
  padding: 50px 0;
  color: $grayscale-light;
  background: $grayscale-dark url(../../images/education-bg.jpg) 50% 0 no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.btn {
  text-transform: uppercase;
  font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 400;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.btn-default {
  @include button-variant($grayscale-primary, transparentize($grayscale-white, 1), $grayscale-primary);

  &:hover,
  &:focus {
    border: 1px solid $grayscale-primary;
    outline: none;
    color: $grayscale-dark;
    background-color: $grayscale-primary;
  }
}

ul.banner-social-buttons {
  margin-top: 0;
}


footer {
  padding-top: 50px;
  padding-bottom: 20px;
  p {
    text-align: center;
  }
}

::-moz-selection {
  text-shadow: none;
  background: $grayscale-light;
  background: transparentize($grayscale-light, 0.8);
}

::selection {
  text-shadow: none;
  background: $grayscale-light;
  background: transparentize($grayscale-light, 0.8);
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

body {
  webkit-tap-highlight-color: transparentize($grayscale-light, 0.8);
}

.full {
  height: 100%
}

.btn-circle:hover {
  color: $grayscale-primary;
  border: 2px solid $grayscale-primary;
  background: $grayscale-badge-03;
}

.progress { color: $grayscale-primary }
.prog-00 { width: 00%; }
.prog-10 { width: 10%; }
.prog-20 { width: 20%; }
.prog-30 { width: 30%; }
.prog-40 { width: 40%; }
.prog-50 { width: 50%; }
.prog-60 { width: 60%; }
.prog-70 { width: 70%; }
.prog-80 { width: 80%; }
.prog-90 { width: 90%; }
.prog-100 { width: 100%; }



.timeline {

  list-style: none;
  padding: 20px 0 20px;
  position: relative;

  &:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: $grayscale-light;
  }

  li {
    margin-bottom: 20px;
    position: relative;

    .timeline-panel {
      width: 90%;
      border: 1px solid $grayscale-light;
      padding: 20px;
      margin-left: 60px;
      position: relative;

      &:before {
        position: absolute;
        border-top: 15px solid transparent;
        border-right: 0 solid $grayscale-light;
        border-bottom: 15px solid transparent;
        content: " ";
      }
      .timeline-title {
        margin-top: 0;
        color: inherit;
        font-size: 25px;
      }
      .timeline-dates {
        top: 0;
        right: 0;
        position: absolute;
        margin: 10px;
      }
      .timeline-location {
        font-family: $grayscale-desc-font-family;
      }
      .timeline-course {
        font-size: 18px;
      }
      .timeline-body {
      }
    }
  }
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li > .timeline-badge {
  color: $grayscale-light;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  margin-left: -25px;
  background-color: $grayscale-badge-06;
  z-index: 100;
  border-radius: 50%;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}

#contact {
  background: linear-gradient(to right, $grayscale-badge-03, $grayscale-badge-01);
}

.about-ul {
  text-align: left;
}

@media(max-width:1199px) {
  ul.banner-social-buttons {
    margin-top: 15px;
  }

  .row {
    margin: 0px;
  }

  .well {
    border-top: 1px;
    border-right: 1px;
    border-left: 1px;
  }

}

@media(max-width:767px) {
  ul.banner-social-buttons {
    li {
      display: block;
      margin-bottom: 20px;
      padding: 0;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .well {
    border-top: 1px;
    border-right: 1px;
  }
}

@media(min-width:767px) {
  .content-section {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  p {
    margin: 0 0 35px;
    font-size: 20px;
    line-height: 1.6;
  }
  .navbar {
    padding: 20px 0;
    border-bottom: none;
    letter-spacing: 1px;
    background: transparent;
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
  }

  .top-nav-collapse {
    padding: 0;
    background-color: $grayscale-dark;
  }

  .navbar-custom.top-nav-collapse {
    border-bottom: 1px solid transparentize($grayscale-light, 0.7);
  }

  .intro, .error{
    height: 100%;
    padding: 0;
    .intro-body {
      .brand-heading {
        font-size: 100px;
      }

      .intro-text {
        font-size: 25px;
      }
    }
  }
}

.overlay:before {
  position: absolute;
  content:" ";
  top:0;
  left:0;
  width:100%;
  height:100%;
  display: block;
  z-index:0;
  background-color: $grayscale-badge-01;
}