.bday_layout{
    /* background-image: url("/images/bday/back_02.jpg"); */
}

.bday_sehul_2021{
    background-image: url("https://images.all-free-download.com/images/graphiclarge/summer_party_vector_graphic_556559.jpg");
}


.bday_vyom_2021{
    background-image: url("/images/bday/back_02.jpg");
}

.bday_sehul_2020{
    /* background-image: url("https://images.all-free-download.com/images/graphiclarge/summer_party_vector_graphic_556559.jpg"); */
    /* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */

}



code {
    font-size: large;
}